unsw-face.cogbook.org {
    encode zstd gzip

    handle /api/* {
        reverse_proxy 127.0.0.1:4311
    }

    handle {
        root * /opt/unsw-face
        try_files {path} {path}.html {path}/
        file_server
    }
}
